body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    padding: 5px;
    margin: 0;
}
.container {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
}
strong {
    color: #1fc751;
}
.header{
    display: flex;
    padding: 10px;
    flex-direction: row;
    background: #6d6958;
    position: relative;
}
.nav-bar {
    display: flex;
    align-items: center;
    position: absolute;
    right:50px;
}
.nav-list {
    display: flex;
    column-gap: 20px;
    list-style-type: none;
    text-decoration: none;
    left: 20px;
    margin-bottom: 20px;
}
.nav-list a{
    text-decoration: none;
    color: #1fc751;
}
.card a {
    color: #6d6958;
}
.card a:hover {
    color: #1fc751;
}
.nav-list a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
}
.foot {
    background-color:#6d6958 ;
    padding: 15px 0;
    bottom: 0px;
    display: block;
    width: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
    position: absolute;
    bottom: -100px;
    color: #1fc751;
}
/* home */
.card {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
    margin-top: 10px;
}
.poster {
    background-color: #f6fca6;
    padding: 10px;
    align-items: center;
    align-items: center;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 30px;
}
.poster h5 {
    color: #6d6958;
}
.poster p {
    font-size: 14px;
}
.input-button {
    border-radius: 5px;
    background: #1fc751;
    border: none;
    /* padding: 20px; */
    width: 400px;
    height: 40px;
    color: #6d6958;
}
button {
    border: none;
    background: none;
    cursor: pointer;
}
.title {
    text-decoration: none;
    color: black;

}
label{
    display: block;
}
input {
    margin-top: 10px;
    height: 25px;
    width:400px;
    padding: 5px 0;
    color: #1fc751;
    border-radius: 2px;
}
.title:hover {
    opacity: 0.9;
}
a {
    text-decoration: none;
    color: #1fc751;
}
.login-container{
    text-align: center;
    background-color: #f6fca6;
    padding: 10px;
    margin-top: 10px;
}
@media(max-width: 700px) {
    .input-button {
        width: 100%;
    }
    input {
        margin-top: 10px;
        height: 25px;
        width:99%;
     
    }
    .card {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 500px) {
    .card {
        grid-template-columns: repeat(1, 1fr);
    }
    .nav-bar {
        top: 50px;
        left: -10px;
        padding-left: 0;
    }
}